<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">							
                    <div class="widget">
                        <div class="widget-title">About us</div>
                        <p>
                            Onlywreaths is a online company delivering wreaths for all occasions 6 days week across the UK.
                        </p>
                        <p>
                            A humble family owned & operated company.
                        </p>
                        <p>
                            <strong>Contact us:</strong> <a href="mailto:info@onlywreaths.co.uk">info@onlywreaths.co.uk</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="icon-clock"></i></a>
                                </div>
                                <h3>Same Day Dispatch</h3>
                                <p><strong>Monday - Saturday</strong>
                                    <br>orders placed before 11:00 AM</p>
                                <p>For most orders (except during Holiday period)</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="icon-box effect small clean">
                                <ul class="list">
                                    <li><a class="nav-link active" href="{{ site.main_url }}/terms.html">Terms</a></li>
                                    <li><a class="nav-link" href="{{ site.main_url }}/privacy-policy.html">Privacy</a></li>
                                    <li><a class="nav-link" href="{{ site.main_url }}/cookies-policy.html">Cookies</a></li>
                                    <li><a class="nav-link" href="{{ site.main_url }}/returns.html">Returns</a></li>
                                    <li><a class="nav-link" href="{{ site.main_url }}/shipping-terms.html">Shipping</a></li>
                                    <li><a class="nav-link" href="{{ site.main_url }}/disclaimer.html">Disclaimer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">
            <br/ >&copy; 2021 A1 Craft Ltd, All Rights Reserved. Registered Office: A1 Craft Ltd (Company No. 12615722), 95 Scarle Road, Wembley, HA0 4SS.</div>
        </div>
    </div>
</footer>
<!-- end: Footer -->