<!-- Header -->
<header id="header" data-fullwidth="true" data-transparent="false" class="light submenu-light">
  <div class="header-inner">
      <div class="container">
          <!--Logo-->
          <div id="logo">
              <a href="{{ site.main_url }}/index.html">
                  <span class="logo-default"><img src="{{ site.main_url }}/img/onlywreaths-logo-small.png" alt="OnlyWreaths Logo"/></span>
                  <span class="logo-dark"></span>
              </a>
          </div>
          <!--End: Logo-->
          <!--Navigation Resposnive Trigger-->
          <div id="mainMenu-trigger">
              <a class="lines-button x"><span class="lines"></span></a>
          </div>
          <!--end: Navigation Resposnive Trigger-->
          <!--Navigation-->
          <div id="mainMenu">
              <div class="container">
                  <nav>
                      <ul>
                          <li><a href="{{ site.main_url }}/index.html">Home</a></li>
                          <li><a href="{{ site.url }}/">Blog</a></li>
        <li><a class="snipcart-customer-signin" href="#">My Account</a></li>
        <li>
          <a class="snipcart-checkout" href="#">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="snipcart-items-count"></span>
            (<span class="snipcart-total-price"></span>)
          </a>
        </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <!--END: NAVIGATION-->
      </div>
  </div>
</header>
<!-- end: Header -->

